@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

$green: hsl(157, 74%, 62%);
$green-accent: HSL(157, 70%, 77%);
$blue-950: hsl(224, 35%, 11%);
$blue-900: hsl(225, 26%, 23%);
$blue-600: hsl(225, 21%, 45%);
$blue-300: hsl(225, 40%, 83%);
$white: hsl(0, 0%, 100%);
$red: hsl(0, 96%, 61%);

$font-primary: 'Chivo', sans-serif;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 32px;
$font-size-xl: 48px;

$font-weight-light: 300;
$font-weight-bold: 700;

$line-height-120: 120%;
$line-height-150: 150%;
$line-height-200: 200%;

$space-4: 4px;
$space-8: 8px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-44: 44px;
$space-52: 52px;
$space-56: 56px;
$space-64: 64px;
$space-80: 80px;
$space-88: 88px;
$space-104: 104px;
$space-116: 116px;
$space-142: 142px;
$space-156: 156px;

$breakpoint-tablet: 768px;
