.form {
  display: flex;
  flex-direction: column;
  margin-bottom: $space-142;

  &__error {
    display: none;
    margin-top: $space-8;
    text-align: center;
    color: $red;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
  }

  &__input,
  &__submit {
    height: 44px;
    width: 100%;
    font-size: $font-size-s;
    font-weight: $font-weight-bold;
    line-height: $line-height-200;
    border-radius: 100px;
  }

  &__input {
    margin-bottom: $space-8;
    padding: $space-4 $space-4 $space-4 $space-32;
    border: 2px solid $blue-900;
    background: $blue-900;
    color: $white;
  }

  &__submit {
    background: $green;
    color: $blue-950;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      background: $green-accent;
    }
  }

  &--error &__input,
  &--error &__input:focus,
  &--error &__input:focus-visible {
    border: 2px solid $red;
    outline: none;
  }

  &--error &__error {
    display: block;
  }
}

@media (min-width: $breakpoint-tablet) {
  .form {
    position: relative;
    margin-bottom: $space-40;
    height: 52px;
    width: 448px;

    &__error {
      position: absolute;
      bottom: -24px;
      left: 0;
      margin-left: $space-32;
      text-align: start;
    }

    &__input {
      height: 52px;
      width: 100%;
      margin-bottom: 0;
      padding: $space-8 $space-8 $space-8 $space-32;
    }

    &__submit {
      position: absolute;
      top: 4px;
      right: 4px;
      height: 44px;
      width: 173px;
    }
  }
}
