.listOfPlatforms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17px;
  margin-bottom: $space-40;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__icon {
    display: inline-block;

    &--spotify {
      height: 16.95px;
      width: 55.94px;
    }

    &--apple {
      height: 17px;
      width: 45px;
    }

    &--google {
      height: 10.67px;
      width: 72.97px;
    }

    &--pocket {
      height: 14.9px;
      width: 75.88px;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .listOfPlatforms {
    justify-content: space-between;
    align-items: center;
    height: 53px;
    width: 547.65px;
    margin-bottom: 0;

    &__item {
      display: flex;
      align-items: flex-end;
      height: 100%;
    }

    &__icon {
      &--spotify {
        height: 28.91px;
        width: 95.9px;
      }

      &--apple {
        height: 29px;
        width: 78px;
      }

      &--google {
        height: 17.47px;
        width: 124.95px;
      }

      &--pocket {
        height: 25.83px;
        width: 128.8px;
      }
    }
  }
}
